<div class="main">
    <hr>
    <div>
        <div class="firstbox">
            <div class="insideBox">
                <div>
                    <h4> <b>Notification group title 1 </b></h4>
                    <p>Group Description: Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam,</p>
                </div>

                <div class="container">
                    <mat-slide-toggle checked="" color="primary"> <b>Email </b> </mat-slide-toggle> &nbsp;
                    <span class="circle">?</span>
                </div>
                <div class="container">
                    <mat-slide-toggle color="primary"><b> SMS </b></mat-slide-toggle> &nbsp;
                    <span class="circle">?</span>
                    <textarea name="" id="" cols="30" rows="3" class="test_area"></textarea>
                </div>
                <div class="container">
                    <mat-slide-toggle disabled></mat-slide-toggle> <b class="call"> Call </b>&nbsp;
                    <span class="circle">?</span>

                </div>
                <div class="container">
                    <mat-slide-toggle color="primary"><b> Webhook </b> </mat-slide-toggle> &nbsp;
                    <span class="circle">?</span>
                    <input type="text" id="textbox" value="https://">
                    <button type="submit" id="buttonBox">Save</button>
                </div>
            </div>
            <div class="underline"></div>
            <div class="bottomBox">
                <span class="material-icons">arrow_drop_down</span>
            </div>
        </div>
        <hr>
    </div>
    <div>
        <div class="firstbox">
            <div class="insideBox">
                <div>
                    <h4> <b>Notification group title 2 </b></h4>
                    <p>Group Description: Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                        enim ad minim veniam,</p>
                </div>

                <div class="container">
                    <mat-slide-toggle color="primary" checked=""> <b>Email </b> </mat-slide-toggle> &nbsp;
                    <span class="circle">?</span>
                </div>
                <div class="container">
                    <mat-slide-toggle color="primary"><b> SMS </b></mat-slide-toggle> &nbsp;
                    <span class="circle">?</span>
                    <textarea name="" id="" cols="30" rows="3" class="test_area"></textarea>
                </div>
                <div class="container">
                    <mat-slide-toggle disabled></mat-slide-toggle> <b class="call"> Call </b>&nbsp;
                    <span class="circle">?</span>

                </div>
                <div class="container">
                    <mat-slide-toggle color="primary"><b> Webhook </b> </mat-slide-toggle> &nbsp;
                    <span class="circle">?</span>
                    <input type="text" id="textbox" value="https://">
                    <button type="submit" id="buttonBox">Save</button>
                </div>
            </div>
            <div class="underline"></div>
            <div class="bottomBox1">
                <span class="material-icons">arrow_drop_up</span>
            </div>
            <div class="underline"></div>

            <div class="box">
                <div class="card">
                    <div class="insideBox">
                        <div>
                            <h4> <b class="note">Notification group title 1 </b></h4>
                            <p>Group Description: Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam,</p>
                        </div>

                        <div class="container">
                            <mat-slide-toggle color="primary" checked=""> <b>Email </b> </mat-slide-toggle> &nbsp;

                        </div>
                        <div class="container">
                            <mat-slide-toggle color="primary" (change)="SMSChnageOne()"><b> SMS </b></mat-slide-toggle>
                            &nbsp;
                            <textarea name="" id="" *ngIf="smsValueOne" cols="30" rows="3" class="test_area"></textarea>
                        </div>
                        <div class="container">
                            <mat-slide-toggle disabled></mat-slide-toggle> <b class="call"> Call </b>&nbsp;
                        </div>
                        <div class="container">
                            <mat-slide-toggle color="primary" (change)="webhookChnageOne()"><b> Webhook </b>
                            </mat-slide-toggle> &nbsp;

                            <input type="text" *ngIf="webhookOne" id="textbox" value="https://">
                            <button type="submit" *ngIf="webhookOne" id="buttonBox">Save</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="insideBox">
                        <div>
                            <h4> <b class="note">Notification group title 2 </b></h4>
                            <p>Group Description: Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam,</p>
                        </div>
                        <div class="container">
                            <mat-slide-toggle color="primary" checked=""> <b>Email </b> </mat-slide-toggle> &nbsp;

                        </div>
                        <div class="container">
                            <mat-slide-toggle color="primary" (change)="SMSChnage()"><b> SMS </b></mat-slide-toggle>
                            &nbsp;

                            <textarea *ngIf="smsValue" name="" id="" cols="30" rows="3" class="test_area"></textarea>
                        </div>
                        <div class="container">
                            <mat-slide-toggle disabled></mat-slide-toggle> <b class="call"> Call </b>&nbsp;


                        </div>
                        <div class="container">
                            <mat-slide-toggle color="primary" (change)="webhookChnage()"><b> Webhook </b>
                            </mat-slide-toggle> &nbsp;

                            <input *ngIf="webhook" type="text" id="textbox" value="https://">
                            <button *ngIf="webhook" type="submit" id="buttonBox">Save</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="underline"></div>
            <div class="footerBox">
            </div>
        </div>
    </div>
</div>